.faq{
    text-align: center;

    &__title{
        @include font500;
        padding: 1rem 0;
    }
    &__des{
        @include font400;
        margin-bottom: 1rem;
    }

    .accordion{
        text-align: left;
        border: 1px solid $GrayishBlue;
        padding: 0.5rem 0.6rem;
        border-radius: 0.625rem;
        margin: .2rem auto;

        
        &__title{
            @include font500;
            padding: 1rem 0;
            position: relative;
            cursor: pointer;

            &::after{
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(180deg);
                right: 0;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 20px solid $VeryDarkBlue;
                transition: transform 0.3s ease;
            }

            &.active::after{
                transform: translateY(-50%) rotate(0deg);
            }
        }
        &__des{
            @include font400;
            margin-bottom: 1rem;
        }

        .collapse{
            visibility: hidden;
            opacity: 0;
            height: 0;
            animation: fadeOut 0.3s linear;
            transition: height 0.3s ease;

            &.active{
                animation: fadeIn 0.3s linear;
                visibility: visible;
                opacity: 1;
                height: 100%;
            }
        }
    }

    &__cta{
        margin-top: 2.5rem;
    }
}