.main-header{
    width: 100vw;
    height: auto;
    padding: 1.5rem 0 0.5rem 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    box-sizing: border-box;
    

    &.active{
        background: $White;
    }
    .nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        &__logo{
            width: 25%;
            display: inline-block;
            margin-top: 1rem;
            &__img{
                max-width: 100%;
            }
        }

        &__menu{
            width: 72%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &__item{
                display: inline-block;
                position: relative;   

                &:not(:last-child){
                    margin-right: 0.5rem;
                }

            }

            &__link{
                @include font400;
                padding-bottom: 0 !important;
                color: $DarkGrayishBlue !important;
                position: relative;

                @include hoverEffect;
            }

            .menu_wrap{
                text-align: center;
            }
        }


        @media (max-width: 48rem){

            width: 100%;

            &__toggle{
                position: absolute;
                top: 1.8rem;
                right: 1rem;
                width: 1.8rem;
                height: 1.8rem;
                background: url(../src/img/icon-hamburger.svg);
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 100;
                cursor: pointer;
                
                &.active{
                background: url(../src/img/icon-close.svg);
                background-repeat: no-repeat;
                background-size: cover;
                }
            }
            
            &__menu{
                position: absolute;
                top: 4.5rem;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(119, 68, 238, 0.583);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 1;
                visibility: hidden;
                opacity: 0;
                animation: fadeOut 0.3s linear;

                &__item{
                    width: 90%;
                    text-align: center;
                    padding-bottom: 1rem;
                    &:not(:last-child){
                        margin-right: 0;
                        margin-bottom: 0.1rem;
                    }
                }

                &__link{
                    @include font500;
                    color: $White !important;
                }

                &.active{
                    visibility: visible;
                    opacity: 1;
                    animation: fadeIn 0.3s linear;
                }
            }

            &__logo{
                width: 33%;
                display: inline-block;
                margin-top: 1rem;
                &__img{
                    width: 10rem;
                }
            }
        }
    }
}