.hero{
    min-height: 70vh;
    text-align: left;
    padding-top: 6rem;
    display: grid;
    place-items: center;
    background: url(/src/img/bg-tablet-pattern.svg);

    @include bgControl;
    background-size: 55%;
    background-position: right top;

    &__imgBx{
        
        &__img{
            max-width: 100%;
        }
    }
    

    &__title{
        @include font600;
    }
    &__des{
        @include font400;
        padding-bottom: 1rem;
    }

    @media (max-width:48rem){
        text-align: center;
        padding-top: 8rem;
    }

}   